h1{
    text-align:center;
    text-decoration-color: rgb(255, 255, 255)
  }
  body{
    background-color: rgb(56, 56, 54);
  }
  .jogo{
    position:center;
  }
main{
    position:relative;
    top: 50px;
    left: 90px;
    text-align: center;
    text-align: left;
}

body{
    background-color:  #f79cea;
}
