.jogo{
  position:center;
}
h1{
  text-align:center;
  text-decoration-color: rgb(255, 255, 255)
}
body{
  background-color: rgb(56, 56, 54);
}

main{
  position:relative;
  top: 50px;
  left: 90px;
}
header{
  text-align: center;
}

body{
  background-color: #f79cea;
}

